/* Variables */
:root {
    --bodyBackgroundColor: #eee; 
    --font-family: 'Roboto', sans-serif;
    --navColor: #555;
}

/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bodyBackgroundColor);
    font-family: var(--font-family);
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: var(--navColor);
    text-align: center;
    color: #fff;
}