/* Variables */
:root {
    --mainColor:#4A4E75;
    --headerColor: #5161F5;
    --btnColor: #404DC2;
    --mainFont: 'Roboto', sans-serif;
}

/* Reset */
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainColor);
    font-family: var(--mainFont);
    color: #fff;
}

/***************** Layout *****************/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--headerColor);
    position: relative;
}

/* header::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: skewY(1deg);
    transform-origin: top left;
} */

header .logo {
    padding: 1rem;
}

header .logo h1 {
    font-weight: bold;
}

input, .btn {
    font-size: 1rem;
    line-height: 1.5;
    padding: .175rem .75rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: var(--btnColor);
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid var(--btnColor);
}

input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.user form{
    padding: 1rem;
}

.input-block {
    display: block;
    width: 100%;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: .75rem;
}

.userInfo img {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userInfo span {
    color: #fff;
    font-weight: 600;
}

/* Login */
.container {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 80%;
}

.container form * {
    margin: .25rem 0;
}

/* Navgation */
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--headerColor);
    list-style-type: none;
}
nav ul li {
    width: 100%;
    background-color: var(--headerColor);
    text-align: center;
    transition: all .5s;
    cursor: pointer;
}

nav ul li:hover {
    background-color: var(--btnColor);
}

nav ul li a {
    display: inline-block;
    width: inherit;
}

/* Articles */
.articles_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.article {
    display: block;
    width: 80%;
    padding: 1rem;
    background-color: #5161F5;
    margin-bottom: 1rem;
}

/*************** Index ***************/

.article_auther_name {
    color: #fff;
    text-decoration: none;
    font-size: large;
    transition: color 0.5s;
}

/* .article_auther_name:hover {
    color: rgb(47, 85, 255);
} */

.article_date {
    font-size: small;
    font-style: italic;
    color: #eee;
}

.article hr {
    margin-bottom: 0.5rem;
}

.article_title {
    font-size: x-large;
    padding-bottom: 1rem;
}

.article_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

/* Bootstrap */
.alert {
    position:absolute;
    margin: 0;
    bottom: 0;
    z-index: 2;
}

.show {
    margin: 1rem;
}

#add_new {
    width: 80%;
    background-color: rgb(3, 175, 3);
    margin: 0.5rem 0;
    border: none;
}