<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" href="statics/CSS/style.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>Blog</h1>
        </header>
    
        <div class="content">
            <%- body %> 
            <aside>
                <h2>Last articles</h2>
                <ul>
                    <% lastArticles.forEach((item) => { %>
                        <li><a href="<%= item.link %>" target="_blank"><%= item.name %> </a></li>
                    <% }); %>  
                </ul>
            </aside>
        </div>
    
        <footer>
            <h6>Copyright 2021 Abdallah Elsayed</h6>
        </footer>
    </div>
    
</body>
</html>