<div class="article">
    <div class="articleInfo">
        <span class="autherArticle"><%= article.auther %> </span>
        <span class="date"><%= article.date %> </span>
    </div>
    <div class="articleContent">
        <h2><%= article.title %> </h2>
        <p><%= article.description %> </p>
    </div>
</div>