<div class="show">
    <h1><%= article.title %> </h1>
    <hr>
    <br>
    <div style="text-align: left;">
        <%- article.sanitized %> 
    </div>
    <br>
    <a href="/articles/">Return</a>
</div>