<div class="container">
    <form action="/user/login" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" class="input-block" placeholder="Username">
        <input type="password" name="password" class="input-block" placeholder="Password">
        <input type="file" name="img">
        <input type="submit" value="Login" class="btn input-block">
        <a href="/user/sign_up" class="btn input-block">Sign Up</a>
    </form>
</div>