<div class="container">
    <form action="/user/sign_up" method="POST">
        <input type="text" name="username" class="input-block" placeholder="Username">
        <input type="email" name="email" class="input-block" placeholder="Email">
        <input type="password" name="password" class="input-block" placeholder="Password">
        <input type="password" name="re_password" class="input-block" placeholder="Confirm password">
        <input type="file" name="img">
        <input type="submit" value="Sign Up" class="btn input-block">
        <a href="/user/login" class="btn input-block">Already have an account!</a>
    </form>
</div>